# shellcheck disable=SC1090
. <( flox activate; );

unset GOROOT
export PATH=$PATH:$GOROOT/bin
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin
export PATH=/Users/daaronch/.cache/flox/run/aronchick/andaime.19a05c92/bin:$PATH
