andaime
config.json
*claude-engineer*
Chat_*
.venv

.aider*

.env

vendor/**

original/**
.vscode
status.txt
.DS_Store
release/
*prompt*.md

*debug.log

code_execution_env/**
process_*
coverage.log
config.yaml

**__pycache__**
omni*

experimental/*
.flox/*

claude-engineer*
main.py
ollama*
experimental/*